@import url("https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,600&family=Poppins:ital,wght@0,600;0,700;1,600;1,700&display=swap");
body {
  background: #ffff;
}

/* ini bagian mewarnai judul di halaman pertama */
.header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  /* or 133% */

  color: #0e1840;
}

/* bagian ini untuk mengatur button mulai */
.button-mulai {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  /* identical to box height, or 100% */

  text-align: justify;

  color: #ffffff;
}

/* ini untuk mengatur kalimat institusi */
.institusi {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  /* identical to box height, or 100% */

  text-align: justify;

  color: #0e1840;
}

/* ini untuk mengatur header di halaman ke dua */
.my_name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  /* font-size: 50px; */
  line-height: 75px;
  /* or 150% */

  text-align: center;

  color: #ffffff;
}
/* ini untuk mengatur tampilan di halaman ke 2 */
.reason {
  justify-content: center;
}

/* mengatur class definition */
.definition {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */

  text-align: justify;

  color: #ffffff;
}

/* mengatur box */
.box {
  background-color: #79aafe;
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* mengatur halaman 3 */
.HP3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  /* or 143% */

  color: #0e1840;
}

.PP3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  /* or 140% */

  text-align: justify;

  color: #000000;
}

.img3 {
  width: 350px;
  height: 350px;
}

.kelebihan {
  background: #ffffff;
  box-shadow: 20px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-left: -150px;
  margin-top: 50px;
  padding-right: 20px;
}

.penjelasan {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  margin-left: 30px;
  /* or 120% */

  text-align: justify;

  color: #4a516f;
}

/* mengatur halman 4 */

.HP4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  /* or 150% */

  text-align: center;

  color: #ffffff;
}

.artikel {
  margin-top: 50px;
}

.artikel-kids {
  background: #ffffff;
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 400px;
  margin-top: -50px;
}

.artikel-kids img {
  width: 350px;
  margin-left: 30px;
  margin-top: 30px;
}

.artikel1 {
  margin-top: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  /* or 120% */

  text-align: center;

  color: #0e1840;
}
.artikel-kids button {
  margin-left: 150px;
  background: #79aafe;
  margin-top: 0px !important;
}

.artikel-kids .c {
  margin-top: 25px !important;
}

/* halaman 5 */
.FGI5 img {
  width: 350px;
}

.HP5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 55px;
  /* or 150% */

  color: #0e1840;
}

.headerhal5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 75px;
  height: 200px;
  /* or 150% */

  text-align: center;

  color: #ffffff;
}

.akhir button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 55px;
  /* identical to box height, or 167% */

  color: #d43393;

  background: #ffffff;
  border-radius: 20px;
  margin-left: 300px;
  margin-top: -100px;
  border: none;
  padding: 20px 20px 20px 20px;
}

/* bagian file artikel 1 */

.file-artikel-heading1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  /* identical to box height, or 150% */

  color: #0e1840;
}

.figure-file-artikel-1 {
  width: 350px;
}

.penjelasan-file-artikel-1 {
  text-align: justify;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 45px;
  /* or 180% */

  text-align: justify;

  color: #0e1840;

  margin-top: 150px;
}
.button-file-artikel-1 button {
  text-decoration: none;
  color: #ffff;
}

/* akhir file artikel 1 */

/* untuk mengatur di layar pc yang lebih kecil */
@media all and (max-width: 1350px) {
  .reason {
    margin-left: 250px !important;
  }
  .kelebihan {
    margin-left: -70px !important;
  }
  .HP4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 65px;
    /* or 150% */

    text-align: center;

    color: #ffffff;
  }
  .artikel-kids img {
    width: 300px;
  }
  .artikel-kids button {
    margin-left: 125px !important;
    margin-top: 25px !important;
  }
  .artikel-kids .b {
    margin-top: 0px !important;
  }
  .akhir button {
    margin-left: 200px !important;
    margin-top: 50px !important;
    padding: 20px 20px 20px 20px;
  }
}

/* ini buat supaya website bisa diakses pada layar smartphone */

@media all and (max-width: 424px) {
  .gambar img,
  .ellips {
    visibility: hidden;
  }
  .header {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 55px;
    text-align: center;
    margin-left: 75px;
    width: 200px;
    margin-top: -70px !important;
    /* or 133% */
    color: #0e1840;
  }
  br {
    display: none !important;
  }
  .deskripsi {
    text-align: justify;
    margin-top: -50px;
    margin-left: 70px;
    width: 200px;
  }
  .img {
    width: 300px;
    height: 150px;
    margin-top: 900px !important;
    margin-left: 0px !important;
    display: none;
  }
  .button-mulai {
    margin-left: 120px;
    width: 200px;
  }
  .institusi {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 100% */

    text-align: justify;

    color: #0e1840;

    width: 400px;
    margin-left: 50px;
  }
  .row {
    display: flex;
    flex-direction: column;
  }

  .unila,
  .kampus-merdeka {
    margin-left: 85px;
  }
  .arkatama {
    margin-left: 50px !important;
  }
  .my_name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    /* or 150% */

    text-align: center;

    color: #ffffff;
    margin-top: -450px;
  }
  .box {
    width: 300px;
    margin-left: 0px !important;
    padding-right: 20px;
    column-gap: 50px !important;
  }
  .reason {
    margin-left: 20px !important;
    column-gap: 50px !important;
  }
  .reason2 {
    margin-left: 0px !important;
    column-gap: 50px !important;
  }

  .HP3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    /* or 143% */
    width: 400px;

    color: #0e1840;
    margin-left: -30px;
  }

  .PP3 {
    margin-left: 20px;
    width: 300px;
  }

  .img3 {
    margin-left: 50px;
  }
  .kelebihan {
    margin-left: 25px !important;
    width: 300px;
    padding-rigth: 100px;
  }

  .HP4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
    /* or 150% */

    text-align: center;

    color: #ffffff;
  }
  .artikel-kids {
    width: 350px;
    padding-right: 10px;
  }

  .artikel-kids img {
    width: 300px;
    margin-left: 25px;
  }
  .artikel-kids button {
    margin-left: 120px;
  }

  .HP5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin-left: 20px;
    width: 300px;
    /* or 150% */

    color: #0e1840;
  }

  .headerhal5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    height: 200px;
    /* or 150% */

    text-align: center;

    color: #ffffff;
  }

  .akhir button {
    margin-left: 0px !important;
    font-size: 25px;
    line-height: 35px;
    margin-top: -20px !important;
  }

  .file-artikel-heading1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    margin-left: -20px;
    text-align: center;
    width: 400px;
    padding-right: 0px;
    /* identical to box height, or 150% */

    color: #0e1840;
  }
  .penjelasan-file-artikel-1 {
    text-align: justify;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 00;
    font-size: 15px;
    line-height: 45px;
    /* or 180% */

    text-align: justify;

    color: #0e1840;

    margin-top: 0px;
    width: 300px;
    margin-left: 30px;
  }

  .button-file-artikel-1 {
    margin-left: 150px;
  }
}
